.elegant-gradient-heading-wrapper.elegant-align-center {
  margin-block-start: 15rem;
}

.elegant-gradient-heading {
  font-family: Montserrat;
  font-weight: 700;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a9f4),
    to(#ff9800)
  );
  background: -webkit-linear-gradient(0deg, #03a9f4, #ff9800);
  background: -moz-linear-gradient(0deg, #03a9f4, #ff9800);
  background: -ms-linear-gradient(0deg, #03a9f4, #ff9800);
  background: -o-linear-gradient(0deg, #03a9f4, #ff9800);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
  color: #03a9f4;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  line-height: 1.2em;
}

#contact__container {
  display: flex;
  justify-content: center;
  margin-block-start: 5rem;
}

.elegant-whatsapp-chat-button.whatsapp-chat-button-1.elegant-align-center {
  font-size: 18px;
  margin-block-start: 2rem;
}

#convo__title {
  line-height: 1.4;
  color: #333333;
  letter-spacing: 0px;
  line-height: 40px;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 800;
}

.fusion-li-item-content {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  margin-block-end: 1rem;
  margin-inline-start: 43.2px;
}

.icon-wrapper.circle-no {
  height: 30.6px;
  width: 30.6px;
  margin: 1px 12.6px 0 0;
}

.fusion-li-icon {
  color: #2376de;
}

.elegant-whatsapp-chat-button-link {
  color: #ffffff;
  background: #0dc152;
}

.elegant-skew-heading-wrapper {
  --background_color_1: #1871dd;
  --background_color_2: #0087ef;
}

.elegant-skew-heading.elegant-skew-direction-left {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1871dd),
    to(#0087ef)
  );
  background: -webkit-linear-gradient(0deg, #1871dd, #0087ef);
  background: -moz-linear-gradient(0deg, #1871dd, #0087ef);
  background: -ms-linear-gradient(0deg, #1871dd, #0087ef);
  background: -o-linear-gradient(0deg, #1871dd, #0087ef);
}

.elegant-skew-heading-text {
  font-family: Montserrat;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
}

#image__container {
  padding-right: 30px;
  padding-left: 30px;
}

#schedule__container {
  background-color: #000000;
  padding: 0px 0px 138.85px 0px;
}

.elegant-business-hours {
  color: #f9f9f9;
  font-size: 23px;
}
